body {
    background: #01305a url(../imagen/fondo.jpg) no-repeat scroll left top;
}

ul, li, ol {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

body, td {
    font: 14px/16px Arial, Helvetica, sans-serif;
    vertical-align: top;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    color: #625647;
}

p {
    margin-top: 0px;
}
.container {
  
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


img {
    vertical-align: top;
    border: 0px;
}
.hiperlink {
    font-size:16px;
    text-align:center;
    padding-bottom:200px;
}
#header {
    width: 978px;
    float: left;
    height: auto;
    padding-bottom: 20px;
}

    #header .logo {
        width: 978px;
        float: left;
        height: auto;
        clear: both;
    }

        #header .logo img {
            margin: 0 auto 0 auto;
            display: block;
        }

#content {
    width: 978px;
    float: left;
    height: auto;
}

    #content .title {
        width: 978px;
        float: left;
        height: auto;
    }

        #content .title .dtitle {
            background: #f2f2f2 none repeat scroll center;
            border-radius: 7px 0px 0 0;
            float: left;
            height: 65px;
            width: 978px;
        }

        #content .title .rximage {
            float: right;
            overflow: hidden;
        }

    #content .ddatos {
        width: 978px;
        float: left;
        background: #f2f2f2 none repeat scroll center;
        padding: 5px 0 10px 0;
    }

        #content .ddatos .dcampos {
            width: 978px;
            float: left;
            height: auto;
            background: #f2f2f2 none repeat scroll center;
        }

        #content .ddatos .dvalidacion {
            width: 978px;
            float: left;
            height: auto;
            background: #f2f2f2 none repeat scroll center;
        }

.valcampo {
    margin: 0px 45px 0 15px;
    padding-top: 10px;
}

.lbtitle {
    margin-left: 15px;
}

#content .ddatos .lbFactura, #content .ddatos .tboxFactura, #content .ddatos .lbFecha, #content .ddatos .tboxFecha, #content .ddatos .btEnviar {
    float: left;
}

#content .ddatos .lbFactura, #content .ddatos .lbFecha {
    margin: 5px 15px 0 15px;
}
#content .ddatos .lbEstudiante {
    margin: 5px 15px 30px 15px;
   
}

#content .ddatos .tboxFactura, #content .ddatos .tboxFecha {
    margin-top: 3px;
}

#content .ddatos .btEnviar {
    margin: 0 15px 0 15px;
}

#content .report {
    width: 978px;
    float: left;
    height: auto;
    background: #f2f2f2 none repeat scroll center;
    text-align:center !important;
    padding-bottom:130px;
}
#content .reporttwo {
    width: 978px;
    float: left;
    height: auto;
    background: #f2f2f2 none repeat scroll center;
    text-align: center !important;
    padding-bottom: 130px;
}
.errorMessage {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.succesMessage {
    border: 1px solid rgb(214,233,198);
    background-color:green;
    /*background-color: rgb(223,240,216);*/
    /*color: #721c24;*/
    color:red;
    /*background-color: #f8d7da;*/
    border-color: #f5c6cb;
   /* border: 1px solid transparent;*/
    border-radius: 0.25rem;
}